.container {
    -fx-font-size: 14;
    -fx-background-color: #FFFFFF;
}

.room-title {
    -fx-font-size: 20;
    -fx-font-weight: 700;
    -fx-text-fill: #303030;
}

.message-area,
.input-area {
    -fx-control-inner-background: #F4F5F7;
    -fx-background-color: transparent;
    -fx-border-color: #D8D8D8;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 0;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #303030;
}

.input-area {
    -fx-border-width: 0 0 0 0;
}

.sidebar {
    -fx-border-width: 0 0 0 1;
    -fx-border-style: solid;
    -fx-border-color: #D8D8D8;
}

.room-input {
    -fx-background-color: transparent;
    -fx-border-color: #D8D8D8;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 0;
}